[submodule "telegraf"]
	path = telegraf
	url = https://github.com/influxdata/telegraf.git
[submodule "opentelemetry-go"]
	path = opentelemetry-go
	url = https://github.com/open-telemetry/opentelemetry-go.git
