[submodule "telegraf"]
	path = telegraf
	url = https://github.com/influxdata/telegraf.git
[submodule "opentelemetry-collector"]
	path = opentelemetry-collector
	url = https://github.com/open-telemetry/opentelemetry-collector.git
[submodule "opentelemetry-go"]
	path = opentelemetry-go
	url = https://github.com/open-telemetry/opentelemetry-go.git
[submodule "opentelemetry-collector-contrib"]
	path = opentelemetry-collector-contrib
	url = https://github.com/open-telemetry/opentelemetry-collector-contrib.git
